<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/mystyle.css">
    <link href='https://fonts.googleapis.com/css?family=Angkor' rel='stylesheet'>
    <link rel="stylesheet" media="screen and (max-width:1170px)" href="css/cssphone.css">
    <title>Food Delivery</title>
</head>

<body>
    <nav id="navbar">
        <div id="logo">
            <!-- <img src="Images/me.jpeg" alt=""> -->
        </div>
        <ul>
            <li class="item"><a href="#">Home</a></li>
            <li class="item"><a href="#">Services</a></li>
            <li class="item"><a href="#">About Us</a></li>
            <li class="item"><a href="#">Contact Us</a></li>
        </ul>
    </nav>

    <section id="home">
        <h1 class="h-primary">Welcome to MyOnlineMeal</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Obcaecati quis quam similique eaque et impedit
            culpa ex optio earum placeat laborum quia sapiente ducimus a quidem esse reiciendis eum aperiam, sequi
            aliquid soluta qui quae. Eos, amet.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maxime corporis, provident repellat ipsam odit eius
            voluptas sunt magni quia aspernatur?</p>
        <button class="btn">Order Now</button>
    </section>
    <section class="service-container">
        <h1 class="h-primary center">Our Services</h1>
        <div id="services">
            <div class="box">
                <img src="css/Images/pn1.png" alt="">
                <h2 class="h-secondry center">Food Ordering</h2>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente non natus hic error commodi eum
                pariatur officiis voluptate sint autem.
            </div>
            <div class="box">
                <img src="css/Images/pn2.png" alt="">
                <h2 class="h-secondry center">Food Catering</h2>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente non natus hic error commodi eum
                pariatur officiis voluptate sint autem.
            </div>
            <div class="box">
                <img src="css/Images/pn3.png" alt="">
                <h2 class="h-secondry center">Bulk Ordering</h2>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente non natus hic error commodi eum
                pariatur officiis voluptate sint autem.
            </div>
        </div>
</section>
<section class="contact">
     <div class="box1">
      <a href="#" class="ic1"> <img src="css/Images/logo1.png" alt=""></a> 
       <a href="#" class="ic2"><img src="css/Images/logo2.png" alt=""></a> 
     </div>
</section>
<section class="text">
    @Copyright 2023
</section>
</body>

</html>