<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/login.css">
    <title>Log In</title>
</head>
<body>
    <div class="form">
      <div class="log">LogIn</log>
    <form action="/login" method="post" class="form1">
     <input type="text" name="name" class="put" placeholder="Username">
     <input type="password" name="password" class="put" placeholder="Password">
    <input type="submit" class="put1" value="Sign In"/>
    </form>
    <div class="newacc">Don't have an account yet</div>
    <a href="/signup" class="acc">Create new account</a>
    </div> 
</body>
</html>
